<div>
    <sorting-panel (option-change)="sortingOptionChanged($event)"></sorting-panel>
    <todo-form [submit-button-title]="'Add'"
               (cancel)="clearNewTodo()"
               (todo-ready)="addNewTodo($event)"></todo-form>
    <form>
        <label>
            Filter:
            <input type="text" (keyup)="filterTodos($event)">
        </label>
        <fieldset>
            <button [ng-class]="{pressed: hideStarred}" (click)="toggleStarredVisibility()">Hide starred</button>
        </fieldset>
        <fieldset>
            <button *ng-for="#tag of usedTags" [ng-class]="{pressed: isTagFilterActive(tag)}" (click)="toggleTagFilterActivity(tag)">{{ tag.toString() }}</button>
        </fieldset>
    </form>
    <section class="starred" *ng-if="canShowStarred()">
        <header>
            <h3>Starred todos</h3>
        </header>
        <todo-item *ng-for="#todo of starredTodos" [todo]="todo"></todo-item>
    </section>
    <section class="todos">
        <header>
            <h3>Rest todos</h3>
        </header>
        <todo-item *ng-for="#todo of todos" [todo]="todo"></todo-item>
    </section>
</div>