<div>
    <div class="sorting-options">
        <span>Sorting: </span>
        <button (click)="sortTodosBy('status')"
                [ng-class]="{asc: sortingOptions.status==1, desc: sortingOptions.status==-1}"
                class="sorting-option">Status</button>
        <button (click)="sortTodosBy('title')"
                [ng-class]="{asc: sortingOptions.title==1, desc: sortingOptions.title==-1}"
                class="sorting-option">Title</button>
    </div>
    <todo-item *ng-for="#todo of todos" [todo]="todo"></todo-item>
</div>