@import "variables";

todo-form {
    display: block;
    width: $todo-form-width;
    padding: $spacing;

    > form {
        display: flex;
        flex-direction: column;
        margin: 0;

        label {
            margin: 0;

            input {
                float: right;
            }

            + label {
                margin-top: $spacing;
            }
        }

        button {
            margin-top: $spacing;
        }
    }
}
