@import "variables";

todo-item>div {
    $expanded-height: 15em;

    width: $todo-width;
    height: 7em;
    box-shadow: 1px 1px 2px rgba(black, 0.25);
    position: relative;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;

    header {
        padding: $spacing;
        background-color: rgba(white, 0.75);
        position: relative;
        z-index: 1;
    }

    img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        transition: all 0.2s ease-out;
    }

    todo-form {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 1;
    }

    .tags {
        transform-origin: top;
        transform: scaleY(0);
        transition: all 0.2s ease-out;
        position: relative;
        z-index: 1;
        background-color: rgba(white, 0.75);
    }

    .tag {
        margin: $spacing;
        font-size: smaller;
        &+.tag {
            margin-left: 0;
        }
    }

    .controls {
        position: absolute;
        left: $spacing;
        bottom: $spacing;
    }

    &.done {
        header::before {
            content: '✓';
        }
    }

    &.expanded {
        height: $expanded-height;

        img {
            width: 100%;
        }

        .tags {
            transform: scaleY(1);
        }
    }

    &.editing {
        height: $expanded-height;
    }
}