@import "variables";

todo-form>form {
    width: $todo-form-width;
    display: flex;
    flex-direction: column;

    label {
        margin: 0;

        input {
            float: right;
        }

        + label {
            margin-top: $spacing;
        }
    }

    button {
        margin-top: $spacing;
    }
}