@import "variables";

todos-app {
    color: black;

    section {
        margin: $spacing;
    }

    form {
        margin: $spacing;
    }

    button {
        &.pressed {
            background-color: grey;
            color: white;
        }
    }

    .sorting-option {
        &.asc::after {
            content: '▲';
        }
        &.desc::after {
            content: '▼'
        }
    }
}