@import "variables";

todos-app {
    color: black;

    .sorting-options {
        margin: $spacing;
    }

    .sorting-option {
        &.asc::after {
            content: '▲';
        }
        &.desc::after {
            content: '▼'
        }
    }
}